@charset "UTF-8";
* {
margin: 0%;
padding: 0%;
}
header {




}
h1 {
text-align: center;
background-color: rgb(188, 187, 187);

font-family: Arial, Helvetica, sans-serif;
font-size: 2.6em;



}

p {
text-align: justify;
font-size: medium;





}